<!-- <i class="fa fa-github" aria-hidden="true"></i> -->

<footer class="page-footer font-small bg-dark pt-4" >

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
            <h4 class='text-white'> Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
        <div class="col-md-12 d-flex justify-content-center ">

            <ul class="social-network">
                <li>
                    <a href="https://www.linkedin.com/in/leonardo-azevedo-991ab513a/" target="_blank" class="iconLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/lleonardoazevedo" target="_blank" class="iconGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>

            </ul>
        </div>
        </div>
    </div>

</footer>

<body>
    
<div class="footer-copyright bg-light text-center py3">
    <span class="text-dark"> © 2021 Copyright: </span>
    <a class="text-primary" target="_blank" href="mailto:lleonardo.azevedo@gmail.com?subject="> Leonardo Azevedo </a>
    
</div>

</body>