<div class="container-fluid">

  <div class="row bg-dark d-flex align-items-center">
    <div class="col-md-6 ">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-white">
                <h1 class="font-54" >Seja bem vindx ♥ </h1>
                <h5 class="font-18">O que esta pensando?</h5>

            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3 mb-5">
         <div class="col-md-6">
             <button class="btn btn-light mr-2">Nova Postagem</button>
             <a class="btn btn-outline-light" href="">Ver Postagens</a>
         </div>            
        </div>
    </div>

    <div class="col-md-6 flex justify-content-center">
        <img src="https://imgur.com/429xsdD.png" alt="" width="500px" height="500px">

    </div>
</div>

</div>